@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style-type: none;
}
body {
	height: 100%;
	overflow-x: hidden;
	font-family: "Open Sans", sans-serif;
}
.container {
	min-width: 320px;
}
.container.page {
	padding-bottom: 50px;
}
.settings {
	position: fixed;
	top: 200px;
}
.empty {
	width: 100%;
	height: 1000px;
	border: 1px solid red;
}
.border {
	border: 1px solid black;
}
header {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	z-index: 1;
}
header.scrolled {
	background-color: #4c4c4c;
}
header.scrolled .nav-link {
	padding: 10px 5px;
}
header .nav-group {
	display: inline-block;
	margin: 0 auto;
	font-size: 16px;
	background-color: #4c4c4c;
}
header .nav-item {
	display: inline-block;
	min-width: 200px;
	float: left;
	border-left: 1px solid #1b1919;
	font: normal 14px/18px 'Open Sans';
	text-transform: uppercase;
}
header .nav-item:not(:first-child) {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #4d4d4d), color-stop(50%, #777977), to(#777977));
	background: linear-gradient(to bottom, #4d4d4d 50%, #777977 50%, #777977 100%);
	background-position: 0 0;
	background-size: 200px 200px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
header .nav-item:not(:first-child):hover {
	background-position: 100px 100px;
	background-size: 200px 200px;
}
header .nav-item:first-child {
	background-color: #9dc02e;
	border: none;
}
header .nav-item:hover > .nav-dropdown-menu {
	display: block;
	visibility: visible;
	height: 150px;
}
header .nav-dropdown-menu {
	padding: 15px 0;
	z-index: 10;
	position: absolute;
	top: 100%;
	width: 200px;
	list-style-type: none;
	background-color: #4c4c4c;
	height: 100px;
	visibility: hidden;
	-webkit-transition: height 0.5s ease;
	transition: height 0.5s ease;
}
header .nav-dropdown-menu .dropdown-item {
	margin: 10px 0;
}
header .nav-dropdown-menu .dropdown-item .dropdown-link {
	display: block;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
	width: 100%;
}
header .nav-dropdown-menu .dropdown-item .dropdown-link:link,header .nav-dropdown-menu .dropdown-item .dropdown-link:visited,header .nav-dropdown-menu .dropdown-item .dropdown-link:hover,header .nav-dropdown-menu .dropdown-item .dropdown-link:active {
	color: white;
	text-decoration: none;
}
header .nav-dropdown-menu .dropdown-item .dropdown-link:hover {
	color: #9dc02e !important;
}
header .nav-dropdown-menu.sub {
	top: 0;
	left: 200px;
}
header .nav #home {
	width: 50px;
	min-width: 0;
	max-width: 50px;
	background-color: #9dc02e;
	-webkit-transition: background-color 1s ease;
	transition: background-color 1s ease;
}
header .nav #home:hover {
	background-color: #4d4d4d;
}
header .nav-link {
	display: inline-block;
	padding: 20px 5px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
header .nav-link:link,header .nav-link:visited,header .nav-link:hover,header .nav-link:active {
	color: white;
	text-decoration: none;
}
.row {
	width: 100%;
	background-color: white;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.row.filled {
	background-color: #F5F5F5;
}
.row.filled.section-content {
	background-color: transparent;
}
.row.white {
	background-color: white;
}
.row.white .section-content {
	background-color: white;
}
.row .content {
	width: 1050px;
	margin: 0 auto;
	background-color: #F5F5F5;
}
.row .content .subscribe {
	padding: 35px 0;
}
.row .content .subscribe i {
	color: #9dc02e;
	font-size: 1.5em;
}
.row .content .subscribe a {
	text-transform: uppercase;
	display: inline-block;
	margin-right: 20px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.row .content .subscribe a:link,.row .content .subscribe a:visited,.row .content .subscribe a:active {
	color: #4d4d4d;
	text-decoration: none;
}
.row .content .subscribe a:hover {
	color: #9dc02e;
}
.row .content .subscribe form {
	display: inline-block;
}
.row .content .subscribe input[type="email"] {
	font-size: 20px;
	padding: 20px;
	border: none;
	height: 40px;
}
.row .content .subscribe input[type="email"]:focus {
	outline: 1px solid #9dc02e;
}
.row .content .subscribe input[type="submit"] {
	height: 40px;
	background-color: #9dc02e;
	color: white;
	border: none;
	padding: 0 20px;
	vertical-align: top;
	cursor: pointer;
}
.row .content .subscribe input[type="submit"]:hover {
	background-color: #4d4d4d;
}
.parallax {
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 0;
	-webkit-perspective: 1px;
	perspective: 1px;
	height: 1000px;
	z-index: 0;
	background-image: url("https://livedemo00.template-help.com/wordpress_51770/wp-content/themes/theme51770/images/body-img.jpg");
	padding-top: 200px;
	display: block;
	background-color: transparent;
}
.parallax.block {
	height: auto;
	padding: 100px 0;
	margin: 0;
}
.parallax.block .parallax-content {
	margin: 0;
}
.parallax.page {
	background-position: 50% 650px;
}
.parallax.second {
	background-image: url("https://livedemo00.template-help.com/wordpress_51770/wp-content/uploads/2014/09/parallax.jpg");
	height: auto;
	padding: 0;
	margin: 0;
	min-height: 312px;
}
.parallax.second .slider {
	width: 100%;
	height: 100%;
	padding: 100px 0;
	position: relative;
	max-width: 1050px;
	margin: 0 auto;
}
.parallax.second .slider-button {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -25px;
}
.parallax.second .slider-button.left {
	left: 0;
}
.parallax.second .slider-button.right {
	right: 0;
}
.parallax.second .slider-button button {
	width: 50px;
	height: 50px;
	border: none;
	background-color: transparent;
	font-size: 30px;
	color: white;
	font-weight: 900;
	cursor: pointer;
}
.parallax.second .slider-container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
}
.parallax.second .slider-container .slide {
	color: white;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	display: none;
	opacity: 0;
	text-align: center;
}
.parallax.second .slider-container .slide__author {
	color: #9dc02e;
	text-align: left;
}
.parallax.second .slider-container .slide-img,.parallax.second .slider-container .slide-text {
	display: inline-block;
	vertical-align: top;
}
.parallax.second .slider-container .slide_img {
	margin-left: 50px;
}
.parallax.second .slider-container .slide-text {
	height: 100%;
	font-size: 25px;
	margin-top: 20px;
	padding-left: 15px;
}
.parallax.second .slider-container .slide-text > p {
	text-align: center;
}
.parallax.second .slider-container .slide-circle {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #9dc02e;
	display: inline-block;
	position: absolute;
}
.parallax.second .slider-container .slide-circle.gray {
	background-color: #4d4d4d;
	position: relative;
	left: -50px;
}
.parallax-content {
	margin-bottom: 100px;
}
.parallax-content h2 {
	font-size: 55px;
	max-width: 800px;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	color: white;
	text-transform: uppercase;
}
.section-content {
	background-color: #f6f6f6;
	width: 100%;
}
.section-content.empty {
	margin-top: 100px;
}
.section-content .anim {
	width: 100%;
}
.section-content .anim.blocks-4 {
	top: -250px;
	position: relative;
}
.section-content .anim.blocks-3 {
	top: -200px;
	position: relative;
}
.section-content .anim.blocks-1-2 {
	top: -150px;
	position: relative;
}
.section-content .anim-group {
	max-width: 1050px;
	margin: 0 auto;
	position: relative;
	font-size: 0;
}
.section-content .anim-item-1 {
	display: inline-block;
	width: 240px;
	position: relative;
	left: -400px;
	-webkit-transition: all 0.9s ease;
	transition: all 0.9s ease;
	opacity: 0;
	height: 500px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.section-content .anim-item-1 .top {
	height: 250px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #9dc02e), color-stop(50%, #4d4d4d), to(#4d4d4d));
	background: linear-gradient(to bottom, #9dc02e 50%, #4d4d4d 50%, #4d4d4d 100%);
	background-position: 0 0;
	background-size: 600px 600px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.section-content .anim-item-1 .top:hover {
	background-position: 300px 300px;
	background-size: 600px 600px;
}
.section-content .anim-item-1 .top:hover .anim-img {
	background-color: #9dc02e;
	-webkit-animation-name: rotation;
	animation-name: rotation;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
}

@keyframes rotation {
	0% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}


@keyframes rotation {
	0% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

.section-content .anim-item-1 .bottom {
	height: 250px;
	background-color: #ffffff;
}
.section-content .anim-item-1 .bottom h3 {
	text-align: center;
	padding: 10px 0;
	color: #464646;
}
.section-content .anim-item-1 .bottom p {
	text-align: center;
	padding: 0 15px;
	font-size: 14px;
	color: #bfbfbf;
	line-height: 20px;
}
.section-content .anim-item-1 .bottom .bookmark {
	width: 40px;
	height: 40px;
	display: block;
	background-image: linear-gradient(-45deg, #9dc02e 50%, #4c4c4c 50%);
	-webkit-transition: background-image 1s ease;
	transition: background-image 1s ease;
	background-position: 0 0;
	background-size: 40px 40px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: absolute;
	bottom: 0;
	right: 0;
}
.section-content .anim-item-1 .bottom .bookmark:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-left: 40px solid #e9ebec;
	border-bottom: 40px solid transparent;
}
.section-content .anim-item-1 .bottom .bookmark:after {
	content: '+';
	color: black;
	position: absolute;
	left: 55%;
	top: 45%;
	color: white;
	font-size: 20px;
}
.section-content .anim-item-1 .bottom .bookmark:hover {
	background-position: 0 0;
	background-size: 80px 80px;
}
.section-content .anim-img {
	width: 100px;
	height: 100px;
	background-color: #4d4d4d;
	border-radius: 50px;
	margin: 0 auto;
	position: relative;
	top: 10px;
	text-align: center;
}
.section-content .anim-text {
	padding: 0 20px;
	color: white;
	text-align: center;
	margin-top: 25px;
	font-size: 25px;
}
.section-content .anim-item-2 {
	display: inline-block;
	width: 330px;
	position: relative;
	left: -400px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	overflow: hidden;
	opacity: 0;
	font-size: 16px;
}
.section-content .anim-item-2-left {
	width: 85%;
	background-color: #4d4d4d;
	display: block;
	height: 100%;
	float: left;
	padding: 20px;
}
.section-content .anim-item-2-left h2 {
	color: white;
}
.section-content .anim-item-2-left h2 + h2 {
	color: #9dc02e;
}
.section-content .anim-item-2-right {
	width: 15%;
	background-color: #9dc02e;
	display: block;
	padding: 20px 0;
	position: absolute;
	right: 0;
	height: 100%;
	float: left;
	background: -webkit-gradient(linear, left top, right top, color-stop(50%, #9dc02e), color-stop(50%, #3e3d3d), to(#3e3d3d));
	background: linear-gradient(90deg, #9dc02e 50%, #3e3d3d 50%, #3e3d3d 100%);
	background-position: 0 0;
	background-size: 300px 300px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
	color: white;
	text-align: center;
}
.section-content .anim-item-2-right:hover {
	background-position: 150px 150px;
	background-size: 300px 300px;
}
.section-content .anim-item-2-right span {
	display: block;
	position: relative;
	top: 50%;
	font-size: 20px;
	margin-top: -10px;
}
.section-content .anim-item-3 {
	width: 240px;
	position: relative;
	left: 1050px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.section-content .anim-item-3:first-child {
	left: -100px;
	width: 510px;
}
.section-content .anim-item-3_head-first {
	color: black;
}
.section-content .anim-item-3_head-first h2 {
	font-size: 45px;
	color: #9dc02e;
	text-transform: uppercase;
}
.section-content .anim-item-3_head-first h4 {
	font-size: 25px;
	text-transform: uppercase;
}
.section-content .anim-item-3_body-first {
	overflow: auto;
}
.section-content .anim-item-3_body-first .img {
	float: left;
	margin: 10px 10px 10px 0;
}
.section-content .anim-item-3_body-first .img img {
	display: block;
}
.section-content .anim-item-3_body-first .text p {
	text-align: justify;
}
.section-content .anim-item-3_body-first .text p + p {
	margin-top: 10px;
}
.section-content .anim-item-3_head {
	text-transform: uppercase;
	padding: 20px;
	background-color: #9dc02e;
}
.section-content .anim-item-3_head h2 {
	color: white;
}
.section-content .anim-item-3_head h4 {
	color: #4d4d4d;
}
.section-content .anim-item-3_body li {
	text-align: left;
}
.section-content .anim-item-3_body li a {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 17px 20px;
	background-color: #f4f5f5;
	text-transform: uppercase;
	font-size: 14px;
	background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f4f5f5), color-stop(50%, #4d4d4d), to(#4d4d4d));
	background: linear-gradient(90deg, #f4f5f5 50%, #4d4d4d 50%, #4d4d4d 100%);
	background-position: 0 0;
	background-size: 500px 500px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.section-content .anim-item-3_body li a:hover {
	background-position: 250px 250px;
	background-size: 500px 500px;
	color: white;
}
.section-content .anim-item-3_body li a span {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	left: 0;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	color: #9dc02e;
}
.section-content .anim-item-3_body li a:active,.section-content .anim-item-3_body li a:link,.section-content .anim-item-3_body li a:visited {
	color: #4d4d4d;
	text-decoration: none;
}
.section-content .anim-item-3_body li a:hover span {
	left: 5px;
	color: #9dc02e;
}
.section-content .anim .item-1 {
	left: 0 !important;
	opacity: 1;
}
.section-content .anim .item-2 {
	left: 30px !important;
	opacity: 1;
}
.section-content .anim .item-3 {
	left: 60px !important;
	opacity: 1;
}
.section-content .anim .item-4 {
	left: 90px !important;
	opacity: 1;
}
.section-content .anim .item-5 {
	left: 0 !important;
	opacity: 1;
}
.section-content .anim .item-6 {
	left: 30px !important;
	opacity: 1;
}
.section-content .anim .item-7 {
	left: 60px !important;
	opacity: 1;
}
.section-content .anim .item-8 {
	left: 0 !important;
	opacity: 1;
}
.section-content .anim .item-9 {
	left: 30px !important;
	opacity: 1;
}
.section-content .anim .item-10 {
	left: 60px !important;
	opacity: 1;
}
footer {
	height: 500px;
	background-color: #464646;
	font-family: "Open Sans", sans-serif;
}
footer nav {
	width: 1050px;
	margin: 0 auto;
}
footer ul {
	display: inline-block;
	width: 262.5px;
	float: left;
}
footer ul li {
	margin: 5px 0;
	text-transform: uppercase;
}
footer ul li:first-child {
	padding: 20px 20px 20px 0;
	text-transform: uppercase;
	color: white;
	font-size: 1.3em;
}
footer ul li:first-child a {
	color: white;
}
footer ul a:active,footer ul a:link,footer ul a:visited {
	color: #8e8e8e;
	text-decoration: none;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
footer ul a:hover {
	color: white;
}
footer ul a i {
	background-color: #9dc02e;
	color: #464646;
	padding: 3px;
	width: 20px;
	border-radius: 4px;
}
footer ul.contact li:not(:first-child) {
	padding-left: 25px;
}
footer ul.contact span {
	margin-left: 10px;
}
footer ul.contact .test--twitter:before {
	content: "";
	font-family: FontAwesome;
	margin-left: -1.3em;
	color: #9dc02e;
	font-size: 20px;
	left: -10px;
	width: 20px;
}
footer ul.contact .test--facebook:before {
	content: "";
	font-family: FontAwesome;
	margin-left: -1.3em;
	color: #9dc02e;
	font-size: 20px;
	left: -10px;
	width: 20px;
}
footer ul.contact .test--rss:before {
	content: "";
	font-family: FontAwesome;
	margin-left: -1.3em;
	color: #9dc02e;
	font-size: 20px;
	left: -10px;
	width: 20px;
}
footer ul.contact .test--home:before {
	content: "";
	font-family: FontAwesome;
	margin-left: -1.3em;
	color: #9dc02e;
	font-size: 20px;
	left: -10px;
	width: 20px;
}
footer ul.contact .test--phone:before {
	content: "";
	font-family: FontAwesome;
	margin-left: -1.3em;
	color: #9dc02e;
	font-size: 20px;
	left: -10px;
	width: 20px;
}
.arrow-up {
	position: fixed;
	z-index: 100;
	background-color: #9dc02e;
	width: 50px;
	height: 50px;
	bottom: 0;
	right: 0;
	margin: 10px;
	background-image: url("../img/up-arrow.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
}
.arrow-up.show {
	visibility: visible;
	opacity: 1;
}
.arrow-up:hover {
	background-color: #7d7d7d;
}
.page .anim-group.visible {
	overflow: visible;
	font-size: 1em;
}
.page .anim-group .button {
	margin: 10px 0;
	text-align: left;
	-webkit-box-shadow: 2px 2px 2px gray;
	box-shadow: 2px 2px 2px gray;
	display: inline-block;
}
.page .anim-group .button--anim {
	background: linear-gradient(to right, #9dc02e 50%, #4d4d4d 50%, #4d4d4d 100%);
	background-position: 0 0;
	background-size: 300px 300px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	padding: 15px;
	border: none;
	cursor: pointer;
}
.page .anim-group .button--anim:link,.page .anim-group .button--anim:visited,.page .anim-group .button--anim:hover,.page .anim-group .button--anim:active {
	color: white;
	text-decoration: none;
}
.page .anim-group .button--anim:hover {
	background-position: 150px 150px;
	background-size: 300px 300px;
}
.page .banner {
	width: 100%;
	background-color: #4d4d4d;
	position: relative;
	top: -50px;
	font-size: 34px;
}
.page .banner__header {
	padding: 20px 60px;
}
.page .banner__name {
	text-transform: uppercase;
	color: #9dc02e;
	text-align: left;
}
.page .banner__nav {
	font-size: 16px;
	text-transform: uppercase;
	color: #9dc02e;
	text-align: left;
}
.page .banner__link {
	color: white;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
}
.page .banner__link:link,.page .banner__link:visited,.page .banner__link:hover,.page .banner__link:active {
	color: white;
	text-decoration: none;
}
.page .banner__link.current {
	color: #9dc02e;
}
.page .banner__link:hover {
	color: #9dc02e;
}
.page .banner__separator {
	display: inline-block;
	margin: 0 15px;
}
.page .component-header {
	font-family: "Open Sans";
	font-size: 40px;
	text-align: left;
	margin-bottom: 20px;
	text-transform: uppercase;
	line-height: 40px;
}
.page .block-header {
	color: #4b4b4b;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
}
.page .block-header a {
	color: #4d4d4d;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
	margin-bottom: 10px;
	display: inline-block;
	text-transform: uppercase;
}
.page .block-header a:link,.page .block-header a:visited,.page .block-header a:hover,.page .block-header a:active {
	color: #4d4d4d;
	text-decoration: none;
}
.page .block-header a:hover {
	color: #9dc02e;
}
.page .clearfix {
	clear: both;
}
.page .clearfix::after {
	content: '';
	display: table;
	width: 0;
	height: 0;
	clear: both;
}

@media (max-width: 799px) {

	.page .parallax {
		background-size: unset;
	}
	.page .banner__header {
		padding: 20px;
	}
}


@media (min-width: 1201px) {

	.page .component-header {
		margin-bottom: 40px;
	}
}

.values {
	text-align: left;
	clear: both;
}
.values::after {
	content: '';
	display: table;
	width: 0;
	height: 0;
	clear: both;
}
.values__left {
	width: 65%;
	float: left;
}
.values__img {
	font-size: 0;
	margin: 5px 20px 10px 0;
	display: inline-block;
	float: left;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	max-width: 270px;
	width: 100%;
}
.values__img img {
	width: 100%;
}
.values__header {
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 300;
}
.values__header--main {
	font-size: 40px;
	margin-bottom: 20px;
	font-family: "Open Sans";
	color: #464646;
}
.values__header a {
	color: #4d4d4d;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
}
.values__header a:link,.values__header a:visited,.values__header a:hover,.values__header a:active {
	color: #4d4d4d;
	text-decoration: none;
}
.values__header a:hover {
	color: #9dc02e;
}
.values__article {
	font-size: 14px;
	color: #bfbfbf;
	line-height: 23px;
}
.values__content {
	margin-bottom: 25px;
}
.values__right {
	float: right;
	width: 35%;
	padding-left: 15px;
}

@media only screen and (min-width: 0) and (max-width: 409px) {

	.values__img {
		width: 100%;
		max-width: 100%;
	}
	.values__left {
		width: 100%;
	}
	.values__right {
		width: 100%;
	}
}


@media only screen and (min-width: 410px) and (max-width: 799px) {

	.values__img {
		max-width: 120px;
	}
	.values__left {
		width: 100%;
	}
	.values__right {
		width: 100%;
	}
}


@media only screen and (min-width: 800px) and (max-width: 1049px) {

	.values__img {
		max-width: 120px;
		margin: 5px 20px 10px 0;
	}
	.values__header {
		margin-bottom: 5px;
	}
}

.modal {
	top: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(60, 60, 60, 0);
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}
.modal.show {
	background-color: rgba(60, 60, 60, 0.9);
	visibility: visible;
	display: block;
	opacity: 1;
}
.modal.show .modal__foto-src {
	-webkit-animation: anim 0.5s 1;
	animation: anim 0.5s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes anim {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes anim {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

.modal.hide {
	background-color: rgba(60, 60, 60, 0);
}
.modal.hide .modal__foto-src {
	-webkit-animation: anim-reverse 0.5s 1;
	animation: anim-reverse 0.5s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 1;
}

@keyframes anim-reverse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
}


@keyframes anim-reverse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
}

.modal__wrapper {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-right: 17px;
}
.modal .foto-1 {
	max-width: 740px;
	width: 100%;
	margin: 0 auto;
}
.modal__foto-src {
	width: 100%;
	min-width: 320px;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: -webkit-transform 5s ease;
	transition: -webkit-transform 5s ease;
	transition: transform 5s ease;
	transition: transform 5s ease, -webkit-transform 5s ease;
}
.modal__name {
	color: white;
}
.modal__img {
	width: 100%;
	-webkit-box-shadow: 2px 2px 2px #3c3c3c;
	box-shadow: 2px 2px 2px #3c3c3c;
}
.modal__close {
	color: white;
	text-align: right;
}
.modal__close button {
	border: none;
	background-color: transparent;
	color: white;
}
.modal__close button:hover {
	cursor: pointer;
}
.modal__container {
	height: 100vh;
	width: 100%;
}
.proud__header {
	text-transform: uppercase;
	font-size: 35px;
	text-align: left;
	margin: 40px 0 30px;
}
.proud__fotos {
	width: 100%;
	overflow: hidden;
}
.proud__item {
	width: 25%;
	float: left;
	font-size: 0;
	height: 350px;
	padding: 0 10px;
	position: relative;
}
.proud__img {
	font-size: 0;
	position: relative;
	overflow: hidden;
}
.proud__img:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(77, 77, 77, 0);
	z-index: 1;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.proud__img:hover:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(77, 77, 77, 0.4);
	z-index: 1;
}
.proud__img:hover .proud__mask {
	height: 100%;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index: 100;
}
.proud__img--foto {
	width: 100%;
}
.proud__mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	background-image: url("https://livedemo00.template-help.com/wordpress_51770/wp-content/themes/theme51770/images/magnify-alt.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.proud__name {
	color: #4d4d4d;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
	display: inline-block;
	margin: 10px 0;
	font-size: 20px;
}
.proud__name:link,.proud__name:visited,.proud__name:hover,.proud__name:active {
	color: #4d4d4d;
	text-decoration: none;
}
.proud__name:hover {
	color: #9dc02e;
}
.proud__capture {
	text-align: left;
}
.proud__text {
	font-size: 14px;
}
.clear {
	clear: both;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

@media (min-width: 0) and (max-width: 479px) {

	.proud__img {
		width: 40%;
		float: left;
		margin: 0 20px 20px 0;
		position: relative;
		min-width: 270px;
	}
	.proud__capture {
		clear: left;
	}
	.proud__text {
		margin: 10px 0;
	}
	.proud__name {
		display: block;
		margin-top: 0;
	}
	.proud__item {
		width: 100%;
		font-size: 0;
		height: auto;
		padding: 0;
		margin: 10px 0;
	}
}


@media (min-width: 480px) and (max-width: 799px) {

	.proud__img {
		width: 40%;
		float: left;
		margin: 0 20px 20px 0;
		position: relative;
		min-width: 270px;
	}
	.proud__name {
		display: block;
		margin-top: 0;
	}
	.proud__item {
		width: 100%;
		font-size: 0;
		height: auto;
		padding: 0;
		margin: 10px 0;
	}
}

.chapters {
	font-size: 0;
	overflow: hidden;
}
.chapters__cell {
	width: 33.3333%;
	display: inline-block;
	font-size: 16px;
	float: left;
	padding: 10px;
}
.chapters__header {
	text-transform: uppercase;
	font-size: 35px;
	margin: 10px 0;
}
.chapters__header--sub {
	font-size: 16px;
	text-align: left;
	overflow: hidden;
}
.chapters__img {
	margin: 10px 0;
}
.chapters__img--content {
	width: 100%;
}
.chapters__text {
	margin: 10px 0;
	color: #bfbfbf;
	text-align: justify;
	font-size: 14px;
}
.chapters__button {
	margin: 10px 0;
	text-align: left;
}
.chapters__button--anim {
	background: -webkit-gradient(linear, left top, right top, color-stop(50%, #9dc02e), color-stop(50%, #4d4d4d), to(#4d4d4d));
	background: linear-gradient(to right, #9dc02e 50%, #4d4d4d 50%, #4d4d4d 100%);
	background-position: 0 0;
	background-size: 300px 300px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	padding: 15px;
	border: none;
	cursor: pointer;
}
.chapters__button--anim:link,.chapters__button--anim:visited,.chapters__button--anim:hover,.chapters__button--anim:active {
	color: white;
	text-decoration: none;
}
.chapters__button--anim:hover {
	background-position: 150px 150px;
	background-size: 300px 300px;
}
.chapters__square--item {
	width: 50px;
	height: 50px;
	display: block;
	background-color: #9dc02e;
	position: relative;
	float: left;
	margin: 0 5px 5px 0;
	line-height: 50px;
	color: white;
	font-size: 30px;
	font-weight: bolder;
}
.chapters__clear {
	clear: both;
	display: block;
	width: 0;
	height: 0;
}

@media (max-width: 799px) {

	.chapters__cell {
		width: 100%;
	}
	.chapters__header {
		text-align: left;
	}
	.chapters__square--item {
		text-align: center;
	}
	.chapters__img {
		width: 70%;
	}
}

.arrow-list__item {
	font-size: 14px;
	text-align: left;
	line-height: 1.8;
}
.arrow-list__item a {
	color: #4d4d4d;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
}
.arrow-list__item a:link,.arrow-list__item a:visited,.arrow-list__item a:hover,.arrow-list__item a:active {
	color: #4d4d4d;
	text-decoration: none;
}
.arrow-list__item a:hover {
	color: #9dc02e;
}
.arrow-list__item::before {
	content: '>';
	color: black;
	position: relative;
	font-size: 14px;
	color: #9dc02e;
	font-weight: bolder;
	display: inline-block;
	margin-right: 5px;
}
.values .arrow-list__item {
	margin-top: 16px;
}

@media (max-width: 799px) {

	.page .parallax {
		background-size: unset;
	}
	.page .banner__header {
		padding: 20px;
	}
}


@media (min-width: 1201px) {

	.page .component-header {
		margin-bottom: 40px;
	}
}

.aside {
	width: 30%;
	float: left;
}
.posts__date {
	color: #9dc02e;
	font-size: 14px;
	display: block;
}
.posts__cell {
	padding-bottom: 20px;
	padding-top: 10px;
	border-bottom: 1px solid #bfbfbf;
}
.centre {
	position: relative;
}
.centre__cell {
	margin: 20px 0;
	position: relative;
	max-width: 320px;
	font-size: 0;
}
.centre__date {
	color: #9dc02e;
	font-size: 14px;
}
.centre__text {
	text-transform: uppercase;
	text-align: left;
}
.centre__text a {
	color: white;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
	font-size: 20px;
}
.centre__text a:link,.centre__text a:visited,.centre__text a:hover,.centre__text a:active {
	color: white;
	text-decoration: none;
}
.centre__text a:hover {
	color: #9dc02e;
}
.centre__link {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: left;
	padding: 50px 30px;
	background-color: rgba(60, 60, 60, 0.6);
}
.centre__img {
	width: 100%;
}
.centre__img img {
	width: 100%;
}
.news {
	width: calc(70% - 30px);
	float: left;
	position: relative;
	margin-left: 30px;
}
.news__date {
	position: absolute;
	left: 0;
	top: -5px;
	line-height: 50px;
}
.news__day {
	color: #9dc02e;
	font-size: 50px;
	font-family: "Open Sans";
	font-weight: 600;
	text-align: left;
}
.news__month {
	color: #4d4d4d;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 20px;
	text-align: center;
}
.news .block-header {
	margin-bottom: 25px;
}
.news .block-header a {
	margin: 0;
}
.news__cell {
	padding-left: 100px;
	position: relative;
	margin-bottom: 30px;
}
.news__img {
	margin-bottom: 25px;
}
.news__img img {
	width: 100%;
	max-width: 570px;
}
.news__text {
	font-size: 14px;
	color: #bfbfbf;
}
.news__text-content {
	margin-bottom: 10px;
	text-align: left;
}

@media (min-width: 0) and (max-width: 799px) {

	.aside,.news {
		width: 100%;
	}
	.news {
		margin: 40px 0 0;
	}
	.news__date {
		position: relative;
		margin: 10px 0;
	}
	.news__month {
		text-align: left;
	}
	.news__cell {
		padding: 0;
	}
}


@media (min-width: 800px) and (max-width: 1049px) {

	.centre__link {
		padding: 20px 20px;
	}
}


@media (max-width: 799px) {

	.page .parallax {
		background-size: unset;
	}
	.page .banner__header {
		padding: 20px;
	}
}


@media (min-width: 1201px) {

	.page .component-header {
		margin-bottom: 40px;
	}
}


@media (min-width: 0) and (max-width: 479px) {

	.proud__img {
		width: 40%;
		float: left;
		margin: 0 20px 20px 0;
		position: relative;
		min-width: 270px;
	}
	.proud__capture {
		clear: left;
	}
	.proud__text {
		margin: 10px 0;
	}
	.proud__name {
		display: block;
		margin-top: 0;
	}
	.proud__item {
		width: 100%;
		font-size: 0;
		height: auto;
		padding: 0;
		margin: 10px 0;
	}
}


@media (min-width: 480px) and (max-width: 799px) {

	.proud__img {
		width: 40%;
		float: left;
		margin: 0 20px 20px 0;
		position: relative;
		min-width: 270px;
	}
	.proud__name {
		display: block;
		margin-top: 0;
	}
	.proud__item {
		width: 100%;
		font-size: 0;
		height: auto;
		padding: 0;
		margin: 10px 0;
	}
}

.filter-menu__nav {
	text-align: left;
	font-size: 0;
	margin-bottom: 40px;
}
.filter-menu__link {
	display: inline-block;
	text-transform: uppercase;
	margin-right: 30px;
}
.filter-menu__link a {
	color: #4d4d4d;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;
	font-size: 20px;
}
.filter-menu__link a:link,.filter-menu__link a:visited,.filter-menu__link a:hover,.filter-menu__link a:active {
	color: #4d4d4d;
	text-decoration: none;
}
.filter-menu__link a:hover {
	color: #9dc02e;
}
.filter-menu .block-header {
	margin-top: 20px;
}
.filter-menu__items-container {
	position: relative;
	overflow: hidden;
	text-align: left;
	font-size: 0;
	height: 1200px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.filter-menu__item {
	width: 33.3333%;
	height: 400px;
	padding: 10px;
	display: inline-block;
	position: absolute;
}
.filter-menu__item.item-1 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 0;
	left: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-1.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item.item-2 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 0;
	left: 33.3333%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-2.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item.item-3 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 0;
	left: 66.6666%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-3.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item.item-4 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 33.3333%;
	left: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-4.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item.item-5 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 33.3333%;
	left: 33.3333%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-5.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item.item-6 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 33.3333%;
	left: 66.6666%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-6.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item.item-7 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 66.6666%;
	left: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-7.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item.item-8 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 66.6666%;
	left: 33.3333%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-8.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item.item-9 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	top: 66.6666%;
	left: 66.6666%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.filter-menu__item.item-9.hide {
	-webkit-transform: scale(0);
	transform: scale(0);
}
.filter-menu__item .button {
	position: absolute;
	bottom: 0;
}
.filter-menu__img {
	position: relative;
	width: 100%;
	min-width: 100%;
	-webkit-box-shadow: 2px 2px 2px #808080;
	box-shadow: 2px 2px 2px #808080;
	border-radius: 10px;
}
.filter-menu__img--small {
	width: 100%;
}
.filter-menu__content {
	font-size: 14px;
	color: #bfbfbf;
	text-align: left;
}

@media (min-width: 0) and (max-width: 400px) {

	.filter-menu__link {
		display: block;
	}
	.filter-menu__item {
		width: 100%;
	}
	.filter-menu__item.item-1 {
		left: 0;
		top: 0px;
	}
	.filter-menu__item.item-2 {
		left: 0;
		top: 400px;
	}
	.filter-menu__item.item-3 {
		left: 0;
		top: 800px;
	}
	.filter-menu__item.item-4 {
		left: 0;
		top: 1200px;
	}
	.filter-menu__item.item-5 {
		left: 0;
		top: 1600px;
	}
	.filter-menu__item.item-6 {
		left: 0;
		top: 2000px;
	}
	.filter-menu__item.item-7 {
		left: 0;
		top: 2400px;
	}
	.filter-menu__item.item-8 {
		left: 0;
		top: 2800px;
	}
	.filter-menu__item.item-9 {
		left: 0;
		top: 3200px;
	}
	.filter-menu__items-container {
		height: 3600px;
	}
	.filter-menu__items-container.minify {
		height: 1200px;
	}
}


@media (min-width: 401px) and (max-width: 799px) {

	.filter-menu__item {
		width: 50%;
	}
	.filter-menu__item.item-1 {
		left: 0;
		top: 0px;
	}
	.filter-menu__item.item-2 {
		left: 50%;
		top: 0px;
	}
	.filter-menu__item.item-3 {
		left: 0;
		top: 400px;
	}
	.filter-menu__item.item-4 {
		left: 50%;
		top: 400px;
	}
	.filter-menu__item.item-5 {
		left: 0;
		top: 800px;
	}
	.filter-menu__item.item-6 {
		left: 50%;
		top: 800px;
	}
	.filter-menu__item.item-7 {
		left: 0;
		top: 1200px;
	}
	.filter-menu__item.item-8 {
		left: 50%;
		top: 1200px;
	}
	.filter-menu__item.item-9 {
		left: 0;
		top: 1600px;
	}
	.filter-menu__items-container {
		height: 2000px;
	}
	.filter-menu__items-container.minify {
		height: 800px;
	}
}


@media (min-width: 800px) {

	.filter-menu__items-container {
		height: 1200px;
	}
	.filter-menu__items-container.minify {
		height: 400px;
	}
}


@media (max-width: 799px) {

	.page .parallax {
		background-size: unset;
	}
	.page .banner__header {
		padding: 20px;
	}
}


@media (min-width: 1201px) {

	.page .component-header {
		margin-bottom: 40px;
	}
}

.blog .aside,.blog .news {
	min-height: 200px;
}
.blog .block-header {
	font-size: 30px;
	line-height: 1;
}
.blog .posts {
	margin-bottom: 50px;
}
.blog .arrow-list__item {
	margin-top: 15px;
}
.blog .news {
	padding-right: 20px;
}
.blog .news__cell {
	padding: 0;
	text-align: left;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 0;
}
.blog .news__cell:nth-child(1) {
	opacity: 1;
}
.blog .news__sub-header {
	margin-bottom: 10px;
}
.blog .news__img img {
	max-width: 100%;
}
.blog .scroll-anim {
	opacity: 1;
}

@media (max-width: 799px) {

	.blog .block-header {
		font-size: 25px;
	}
}


@media (max-width: 799px) {

	.page .parallax {
		background-size: unset;
	}
	.page .banner__header {
		padding: 20px;
	}
}


@media (min-width: 1201px) {

	.page .component-header {
		margin-bottom: 40px;
	}
}

#map {
	height: 300px;
	width: 100%;
}
.contact .news,.contact .aside {
	margin-top: 30px;
}
.contact .aside address {
	font-size: 14px;
	line-height: 2;
}
.contact .aside__sub-header {
	margin: 10px 0;
	font-size: 14px;
	color: #9dc02e;
	line-height: 2 !important;
}
.contact .aside__text {
	margin: 10px 0;
	font-size: 14px;
	line-height: 2 !important;
	text-transform: none;
}
.contact .form .button {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	margin-left: 10px;
}
.contact .form__input {
	width: 33.3333%;
	float: left;
	border: 10px solid white;
}
.contact .form__text {
	width: 100%;
	height: 40px;
	padding-left: 20px;
}
.contact .form__area {
	width: 100%;
	height: 200px;
	border: 10px solid white;
	position: relative;
	float: left;
}
.contact .form__area textarea {
	resize: none;
	padding: 20px;
	width: 100%;
}

@media (max-width: 799px) {

	.contact .form__input {
		width: 100%;
	}
}


@media (max-width: 370px) {

	#arrow {
		display: none;
	}
}


@media only screen and (max-width: 799px) {

	.row {
		margin: 0;
	}
	.row .content {
		width: 100%;
	}
	.row .content .subscribe a,.row .content .subscribe form {
		display: block;
	}
	header {
		position: static;
	}
	header #home {
		display: none;
	}
	header .nav-item {
		display: block;
		width: 100%;
		-webkit-transition: none !important;
		transition: none !important;
	}
	header .nav-item:hover {
		background: #9dc02e;
	}
	header.scrolled {
		background-color: #4c4c4c;
	}
	header.scrolled .nav-link {
		padding: 20px 5px;
	}
	.parallax {
		padding-top: 300px;
		background-attachment: local;
		padding-top: 10px;
		height: 60vh;
	}
	.parallax.second .slider {
		padding-right: 30px;
		padding-left: 30px;
	}
	.parallax.second .slider .slide-text {
		padding: 0;
	}
	.parallax.second .slider .slide-img {
		margin-left: 50px;
		display: block;
	}
	.parallax-content h2 {
		font-size: 35px;
		width: 70%;
	}
	.section-content .anim {
		width: 100%;
	}
	.section-content .anim.blocks-4 {
		top: 0;
		position: relative;
	}
	.section-content .anim.blocks-3 {
		top: 0;
		position: relative;
	}
	.section-content .anim.blocks-1-2 {
		top: 0;
		position: relative;
	}
	.section-content .anim-group {
		max-width: 100%;
		padding: 20px;
	}
	.section-content .anim-item-1 {
		width: 100%;
		-webkit-transition: none;
		transition: none;
		height: 400px;
		display: block;
		left: 0;
		margin: 15px 0;
		opacity: 1;
	}
	.section-content .anim-item-1:first-child {
		margin-top: 0;
	}
	.section-content .anim-item-1 .top {
		height: 200px;
	}
	.section-content .anim-item-1 .bottom {
		height: 200px;
	}
	.section-content .anim .item-1 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-2 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-3 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-4 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-5 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-6 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-7 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-8 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-9 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim .item-10 {
		left: 0 !important;
		opacity: 1;
	}
	.section-content .anim-text {
		font-size: 1.2rem;
	}
	.section-content .anim-item-2 {
		width: 100%;
		-webkit-transition: none;
		transition: none;
		display: block;
		margin: 10px 0;
	}
	.section-content .anim-item-2 h2 {
		font-size: 1.4em;
	}
	.section-content .anim-item-3 {
		-webkit-transition: none;
		transition: none;
		width: 100%;
		display: block;
		margin-top: 15px;
	}
	.section-content .anim-item-3_head h2 {
		font-size: 1em;
	}
	.section-content .anim-item-3_body li a {
		padding: 15px 20px;
		background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f4f5f5), color-stop(50%, #4d4d4d), to(#4d4d4d));
		background: linear-gradient(90deg, #f4f5f5 50%, #4d4d4d 50%, #4d4d4d 100%);
		background-position: 0 0;
		background-size: 200% 200%;
		-webkit-transition: background 0.5s ease;
		transition: background 0.5s ease;
	}
	.section-content .anim-item-3_body li a:hover {
		background-position: 100% 100%;
		background-size: 200% 200%;
	}
	.section-content .anim-item-3:first-child {
		width: 100%;
	}
	footer {
		display: inline-block;
		height: auto;
		padding: 20px;
	}
	footer nav {
		width: 100%;
	}
	footer ul {
		width: 100%;
		display: block;
	}
}


@media only screen and (min-width: 800px) and (max-width: 1049px) {

	.row .content {
		width: 750px;
	}
	header .nav-item {
		min-width: 140px;
	}
	header .nav-dropdown-menu {
		width: 140px;
	}
	.parallax {
		height: 90vh;
	}
	.section-content .anim {
		width: 100%;
	}
	.section-content .anim.blocks-4 {
		top: -200px;
		position: relative;
	}
	.section-content .anim.blocks-3 {
		top: -150px;
		position: relative;
	}
	.section-content .anim.blocks-1-2 {
		top: -100px;
		position: relative;
	}
	.section-content .anim-group {
		max-width: 750px;
	}
	.section-content .anim-item-1 {
		width: 165px;
		height: 400px;
	}
	.section-content .anim-item-1 .top {
		height: 200px;
	}
	.section-content .anim-item-1 .bottom {
		height: 200px;
	}
	.section-content .anim-text {
		font-size: 1.2rem;
	}
	.section-content .anim-item-2 {
		max-width: 230px;
	}
	.section-content .anim-item-2 h2 {
		font-size: 1em;
	}
	.section-content .anim-item-3 {
		width: 165px;
	}
	.section-content .anim-item-3_head h2 {
		font-size: 1em;
	}
	.section-content .anim-item-3_body li a {
		padding: 15px 20px;
		font-size: 11px;
	}
	.section-content .anim-item-3:first-child {
		width: 360px;
	}
	footer nav {
		width: 750px;
	}
	footer ul {
		width: 187.5px;
	}
}


@media only screen and (min-width: 1050px) and (max-width: 1200px) {

	.row .content {
		width: 950px;
	}
	header .nav-item {
		min-width: 180px;
	}
	header .nav-dropdown-menu {
		width: 180px;
	}
	.section-content .anim {
		width: 100%;
	}
	.section-content .anim.blocks-4 {
		top: -250px;
		position: relative;
		-webkit-transition: none;
		transition: none;
	}
	.section-content .anim.blocks-3 {
		top: -200px;
		position: relative;
	}
	.section-content .anim.blocks-1-2 {
		top: -150px;
		position: relative;
	}
	.section-content .anim-group {
		max-width: 950px;
		overflow: hidden;
	}
	.section-content .anim-item-1 {
		width: 215px;
	}
	.section-content .anim-item-2 {
		max-width: 296.66667px;
	}
	.section-content .anim-item-2 h2 {
		font-size: 1.2em;
	}
	.section-content .anim-item-3 {
		width: 215px;
	}
	.section-content .anim-item-3_head h2 {
		font-size: 1.4em;
	}
	.section-content .anim-item-3_body li a {
		font-size: 12px;
	}
	.section-content .anim-item-3:first-child {
		width: 460px;
	}
	footer nav {
		width: 950px;
	}
	footer ul {
		width: 237.5px;
	}
}

